body{
    background-color: #1f1851!important;
    color: #d4dbf4!important;
  }
  table{
    color: #d4dbf4!important;
    margin-top: 50px;
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .bsVolume{
    color: #d4dbf4!important;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .bsVolumeX{
    color: #d4dbf4!important;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .bbVolume {
    color: #d4dbf4!important;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .gasPrice{
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #Eth{
    color:black;
  }
  #EthLow{
    color : green;
  }
  #EthHigh{
    color : red;
  }
  .lastBlock{
    margin-top: 25px;
  }
  